---
import Layout from "../../layout/layout.astro";
const { id } = Astro.params;
import { cardCodes, getCardById } from "../../data";

export const getStaticPaths = () => {
  return cardCodes.map((id) => ({
    params: { id },
  }));
};

const card = getCardById(id);
---

<Layout>
  <h1>{`${card?.name} by ${card?.artistName}`}</h1>
  <p>{card?.flavorText}</p>
  <img src={card?.assets[0].fullAbsolutePath} alt="" />
  <img src={card?.assets[0].gameAbsolutePath} alt="" />
</Layout>
