---
import cardsData from "../data/cards.optimized.json";
import ImageGrid from "../components/ImageGrid.svelte";
import Filters from "../components/Filters.svelte";
import "../styles/global.css";
import type { Card } from "../types";
import SiteFooter from "../components/SiteFooter.svelte";

const title = "Art of Runeterra";
const allCards: Card[] = cardsData;
const allRegions = [...new Set(allCards.flatMap((card) => card.region))].sort();
const allTypes = [...new Set(allCards.map((card) => card.type))].sort();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-950 min-h-screen">
    <main class="container mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold mb-6 text-center text-white">
        {title}
      </h1>
      <Filters client:load allRegions={allRegions} allTypes={allTypes} />
      <ImageGrid client:load cards={allCards} />
    </main>
    <SiteFooter />
  </body>
</html>

<style>
  filters-component {
    display: block;
    margin-bottom: 2rem;
  }
  image-grid-component {
    display: block;
  }
</style>
